    .entry-title {
        font-size: 28px;
        line-height: 1.2;
        font-weight: normal;
        margin-bottom: 20px;
        & a {
            color: #444;
            text-decoration: none;
        }
        @include mobile {
            margin-bottom: 10px;
            margin-top: 10px;
            font-size: 20px;
        }
    }
    
    article {
        border-bottom: 2px double $_base-border-color;
        margin-bottom: 28px;
        padding-bottom: 24px;
        word-wrap: break-word;
        -webkit-hyphens: auto;
        -moz-hyphens: auto;
        hyphens: auto;
    }
    
    .excerpt-thumb {
        margin: 8px 24px 12px 0;
        float: left; //画像に回りこみ
        @include mobile {
            float: none;
        }
    }
    /* サムネイル */
    
    .entry-thumnail {
        width: 200px;
        height: 140px;
        border: 1px solid $_base-border-color;
        display: block; //リンクエラー用
        @include mobile {
            margin: 0 auto;
        }
    }
    
    .entry-summary {
        & .read-more {
            display: inline-block;
        }
        & p {
            @include mobile {
                text-align: left;
            }
        }
    }
    
    .read-more a {
        outline: none;
        color: #0B91EA;
        text-decoration: none;
    }
    
    .entry-meta {
        color: #757575;
        clear: left; //回り込み解除
    }
    
    .entry-meta>span a {
        color: #333;
        padding: 2px;
        text-decoration: none;
    }