.container {
  @include css3(margin-left, $_base-animation-speed, linear);
  -webkit-overflow-scrolling: touch;
  background-color: $_base-background-color;
  margin-left: $_base-navigation-width;
  min-height: 100%;
  overflow: scroll;
  position: relative;
  z-index: 900;

  .close & {
    margin-left: 0;
  }
  @include mini-display {
    margin-left: 0;
  }
}
