.container {
  @include css3(margin-left, $_base-animation-speed, linear);
  background: $_base-background-color;
  height: 100vh;
  margin-left: $_base-navigation-width;
  position: relative;
  z-index: 900;

  .close & {
    margin-left: 0;
  }
  @include mini-display {
    margin-left: 0;
  }
}
