$_base-font-size: 1em !default;
$_base-background-color: #fff;

$_base-navigation-color: #600358;
$_base-navigation-color-hover: #888;
$_base-submenu-color: #350031;
$_base-navigation-font-color: #e4e4e4;

$_base-border-color: #e9e9e9;
$_base-navigation-width: 220px;
$_base-sidebar-width: 300px;
$_base-main-width: 700px;
$_base-header-height: 50px;
$_base-animation-speed: .25s;

@mixin mini-display {
  @media screen and (max-width: 1200px) {
    @content;
  }
}

@mixin mobile {
  @media screen and (max-width: 950px) {
    @content;
  }
}

@mixin ease-in-out {
  -o-transition: $_base-animation-speed ease-in-out;
  transition: $_base-animation-speed ease-in-out;
}

@mixin linear {
  -o-transition: margin-left $_base-animation-speed linear;
  transition: margin-left $_base-animation-speed linear;
}

@mixin css3($property, $value, $style) {
  @each $prefix in -webkit-, -moz-, -ms-, -o-, '' {
    #{$prefix}transition: #{$property} #{$value} #{$style};
  }
}
