@charset "UTF-8";
@media screen and (max-width: 600px) {
  #wpadminbar {
    position: fixed;
  }
}

body {
  background: #fff;
  font-family: 'Lato', 'Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro W3', Meiryo, メイリオ, Osaka, 'MS PGothic', arial, helvetica, sans-serif;
  font-size: 13px;
  margin: 0;
  padding: 0;
}

.main-contents {
  background: #fff;
  float: left;
  min-height: 100%;
  width: 700px;
}

.main-contents p {
  line-height: 1.9;
  margin-bottom: 1em;
}

.main-contents .inner {
  padding: 50px 50px 0;
}

@media screen and (max-width: 950px) {
  .main-contents {
    width: 100%;
  }
}

.article h1 {
  font-size: 30px;
  line-height: 117%;
  margin-bottom: 20px;
  margin-top: 30px;
}

.article-info {
  border: 3px solid #E9E9E9;
  margin-bottom: 20px;
}

.article-info h4 {
  background: #E9E9E9;
  font-size: 20px;
  margin: 0;
  padding: .75rem 1.25rem;
}

.article-info p {
  line-height: 1;
}

.container {
  -webkit-transition: margin-left 0.25s linear;
  -moz-transition: margin-left 0.25s linear;
  -ms-transition: margin-left 0.25s linear;
  -o-transition: margin-left 0.25s linear;
  transition: margin-left 0.25s linear;
  background: #fff;
  height: 95vh;
  margin-left: 220px;
  position: relative;
  z-index: 900;
}

.close .container {
  margin-left: 0;
}

@media screen and (max-width: 1200px) {
  .container {
    margin-left: 0;
  }
}

.scroll {
  background: #600358;
  height: 100%;
  margin-top: 51px;
  overflow: hidden;
  position: fixed;
  width: 220px;
}

@media screen and (max-width: 1200px) {
  .scroll {
    -o-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out;
    left: -220px;
    z-index: 910;
  }
  .close .scroll {
    left: 0;
  }
}

.global-nav ul {
  list-style: none;
  margin-left: 0;
  padding: 0;
}

.global-nav a {
  -o-transition: margin-left 0.25s linear;
  transition: margin-left 0.25s linear;
  color: #aeb4cb;
  display: block;
  padding: 15px;
  text-decoration: none;
}

.global-nav a:hover {
  background-color: #ffe8fd;
}

.global-nav .sub-menu-head {
  position: relative;
}

.global-nav .sub-menu-head::after {
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
  border-right: 1px solid #E9E9E9;
  border-top: 1px solid #E9E9E9;
  bottom: 0;
  content: '';
  height: 8px;
  margin: auto;
  position: absolute;
  right: 18px;
  top: 0;
  transform: rotate(45deg);
  vertical-align: middle;
  width: 8px;
}

.global-nav .is-active .sub-menu-head::after {
  transform: rotate(135deg);
}

.global-nav .sub-menu {
  background: #350031;
  display: none;
  padding: 10px 0;
}

.global-nav .sub-menu a {
  color: #aeb4cb;
  padding: 8px 15px;
}

.global-nav .sub-menu a:hover {
  color: #fff;
}

.entry-title {
  font-size: 28px;
  font-weight: normal;
  line-height: 1.2;
  margin-bottom: 20px;
}

.entry-title a {
  color: #444;
  text-decoration: none;
}

@media screen and (max-width: 950px) {
  .entry-title {
    font-size: 20px;
    margin-bottom: 10px;
    margin-top: 10px;
  }
}

.entry-article {
  border-bottom: 2px double #E9E9E9;
  hyphens: auto;
  margin-bottom: 28px;
  padding-bottom: 24px;
  word-wrap: break-word;
}

.excerpt-thumb {
  float: left;
  margin: 8px 24px 12px 0;
}

@media screen and (max-width: 950px) {
  .excerpt-thumb {
    float: none;
  }
}

.entry-thumnail {
  border: 1px solid #E9E9E9;
  display: block;
  height: 140px;
  width: 200px;
}

@media screen and (max-width: 950px) {
  .entry-thumnail {
    margin: 0 auto;
  }
}

.entry-summary .read-more {
  display: inline-block;
}

@media screen and (max-width: 950px) {
  .entry-summary p {
    text-align: left;
  }
}

.read-more a {
  color: #0B91EA;
  outline: none;
  text-decoration: none;
}

.entry-meta {
  clear: left;
  color: #757575;
}

.entry-meta > span a {
  color: #333;
  padding: 2px;
  text-decoration: none;
}

header h1 {
  margin: 0;
  padding: 0;
}

.global-head {
  background: #fff;
  border-bottom: 1px solid #E9E9E9;
  line-height: 50px;
  padding-left: 60px;
  position: fixed;
  width: 100%;
}

.global-head a {
  color: #600358;
  text-decoration: none;
}

@media screen and (max-width: 950px) {
  .global-head {
    padding-left: 0;
    text-align: center;
  }
}

.nav-toggle {
  position: fixed;
  z-index: 1000;
}

.nav-toggle div {
  cursor: pointer;
  height: 32px;
  left: 15px;
  position: absolute;
  top: 15px;
  width: 32px;
}

.nav-toggle span {
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
  background: #fff;
  display: block;
  height: 2px;
  left: 0;
  position: absolute;
  width: 100%;
}

@media screen and (max-width: 1200px) {
  .nav-toggle span {
    background: #350031;
  }
}

.nav-toggle span:nth-child(1) {
  top: 1px;
}

.nav-toggle span:nth-child(2) {
  top: 11px;
}

.nav-toggle span:nth-child(3) {
  top: 21px;
}

.close .nav-toggle span {
  background: #350031;
}

.nav-menu-head {
  background-color: #350031;
  border-bottom: 1px solid #E9E9E9;
  color: #fff;
  font-size: 20px;
  line-height: 50px;
  position: fixed;
  text-align: center;
  width: 220px;
}

.global-footer {
  background: #fff;
  border-top: 2px solid #E9E9E9;
  clear: both;
  color: #600358;
  line-height: 25px;
  padding-left: 60px;
}

@media screen and (max-width: 950px) {
  .global-footer {
    padding-left: 0;
    text-align: center;
  }
}

.sidebar {
  float: left;
  padding-top: 60px;
  width: 250px;
}

/*
 * Container style
 */
.ps {
  overflow: hidden !important;
  overflow-anchor: none;
  -ms-overflow-style: none;
  touch-action: auto;
  -ms-touch-action: auto;
}

/*
 * Scrollbar rail styles
 */
.ps__rail-x {
  display: none;
  opacity: 0;
  transition: background-color .2s linear, opacity .2s linear;
  -webkit-transition: background-color .2s linear, opacity .2s linear;
  height: 15px;
  /* there must be 'bottom' or 'top' for ps__rail-x */
  bottom: 0px;
  /* please don't change 'position' */
  position: absolute;
}

.ps__rail-y {
  display: none;
  opacity: 0;
  transition: background-color .2s linear, opacity .2s linear;
  -webkit-transition: background-color .2s linear, opacity .2s linear;
  width: 15px;
  /* there must be 'right' or 'left' for ps__rail-y */
  right: 0;
  /* please don't change 'position' */
  position: absolute;
}

.ps--active-x > .ps__rail-x,
.ps--active-y > .ps__rail-y {
  display: block;
  background-color: transparent;
}

.ps:hover > .ps__rail-x,
.ps:hover > .ps__rail-y,
.ps--focus > .ps__rail-x,
.ps--focus > .ps__rail-y,
.ps--scrolling-x > .ps__rail-x,
.ps--scrolling-y > .ps__rail-y {
  opacity: 0.6;
}

.ps__rail-x:hover,
.ps__rail-y:hover,
.ps__rail-x:focus,
.ps__rail-y:focus {
  background-color: #eee;
  opacity: 0.9;
}

/*
 * Scrollbar thumb styles
 */
.ps__thumb-x {
  background-color: #aaa;
  border-radius: 6px;
  transition: background-color .2s linear, height .2s ease-in-out;
  -webkit-transition: background-color .2s linear, height .2s ease-in-out;
  height: 6px;
  /* there must be 'bottom' for ps__thumb-x */
  bottom: 2px;
  /* please don't change 'position' */
  position: absolute;
}

.ps__thumb-y {
  background-color: #aaa;
  border-radius: 6px;
  transition: background-color .2s linear, width .2s ease-in-out;
  -webkit-transition: background-color .2s linear, width .2s ease-in-out;
  width: 6px;
  /* there must be 'right' for ps__thumb-y */
  right: 2px;
  /* please don't change 'position' */
  position: absolute;
}

.ps__rail-x:hover > .ps__thumb-x,
.ps__rail-x:focus > .ps__thumb-x {
  background-color: #999;
  height: 11px;
}

.ps__rail-y:hover > .ps__thumb-y,
.ps__rail-y:focus > .ps__thumb-y {
  background-color: #999;
  width: 11px;
}

/* MS supports */
@supports (-ms-overflow-style: none) {
  .ps {
    overflow: auto !important;
  }
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .ps {
    overflow: auto !important;
  }
}
