$_wh-size: 1em;

.widget_categories {

  & ul {
    font-size: $_wh-size;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  & li {
    background: $_base-navigation-color;
    line-height: $_wh-size;
    margin-bottom: 3px;

    a {
      color: $_base-navigation-font-color; // 文字
      display: block;
      padding: $_wh-size 0 $_wh-size $_wh-size;
      text-decoration: none; // 下線

      &:hover {
        background-color: $_base-navigation-color-hover;
      }
    }

    & .cat_count {
      color: $_base-navigation-font-color;
      float: right;
      font-weight: bold;
      line-height: $_wh-size * 3;
      position: relative;
      text-align: center;
      top: -$_wh-size;
      width: 40px;
    }
  }
}


