// サイズ調整
header h1 {
  margin: 0;
  padding: 0;
}

.brand-logo {
  font-size: $_base-font-size * 2;
  line-height: $_base-header-height ;
}

// サイトロゴ
.global-head {
  background-color: $_base-background-color;
  border-bottom: 1px solid $_base-border-color;
  padding-left: $_base-header-height + 30; //サイト名の位置調整
  position: fixed;
  width: 100%; // 画面いっぱい
  z-index: 1000;

  & a {
    color: $_base-navigation-color; // 文字色
    text-decoration: none; // 下線を消す
  }
  @include mobile {
    padding-left: 0;
    text-align: center;
  }
}

// ハンバーガーボタン
.nav-toggle {
  position: fixed;
  z-index: 1000; // 絶対に前に出るマン

  & div {
    cursor: pointer;
    height: 32px;
    left: 15px;
    position: absolute;
    top: 15px;
    width: 32px;
  }

  & span {
    @include ease-in-out;
    background: #fff;
    display: block;
    height: 2px;
    left: 0;
    position: absolute;
    width: 100%;

    &:nth-child(1) {
      top: 1px;
    }

    &:nth-child(2) {
      top: 11px;
    }

    &:nth-child(3) {
      top: 21px;
    }
  }
}

// menu
.nav-menu-head {
  background-color: $_base-submenu-color;
  border-bottom: 1px solid $_base-border-color;
  color: $_base-background-color;
  font-size: 20px;
  line-height: $_base-header-height;
  position: fixed;
  text-align: center; //真ん中
  width: $_base-navigation-width;
}
