// tag
.tagcloud {

  & a {
    background: $_base-navigation-color;
    border-radius: 5px;
    color: $_base-navigation-font-color;
    padding: 5px;
    text-decoration: none;

    &:hover {
      background: $_base-navigation-color-hover;
    }
  }
}

