.global-footer {
  @include mobile {
    padding-left: 0;
    text-align: center; //center
  }
  background-color: $_base-background-color;
  border-top: 2px solid $_base-border-color;
  bottom: 0;
  color: $_base-navigation-color;
  line-height: $_base-header-height / 2;
  position: absolute;
  width: 100%;
}
