// nabigation
.scroll {
  @include mini-display {
    @include ease-in-out;
    left: -$_base-navigation-width;
    z-index: 910;

    .close & {
      left: 0;
    }
  }
  background: $_base-navigation-color;
  height: 100%; // 下まで
  margin-top: $_base-header-height + 1px;
  overflow: hidden; // スライドバー必要不可避
  position: fixed;
  width: $_base-navigation-width;
}

// global-nav
.global-nav {
  & ul {
    list-style: none;
    margin-left: 0;
    padding: 0;
  }

  & a {
    @include linear;
    color: #aeb4cb; // 文字
    display: block;
    padding: 15px;
    text-decoration: none; // 下線

    &:hover {
      background-color: #ffe8fd;
    }
  }

  & .sub-menu-head {
    position: relative;

    &::after {
      @include ease-in-out;
      border-right: 1px solid $_base-border-color;
      border-top: 1px solid $_base-border-color;
      bottom: 0;
      content: '';
      height: 8px;
      margin: auto;
      position: absolute;
      right: 18px;
      top: 0;
      transform: rotate(45deg);
      vertical-align: middle;
      width: 8px;
    }
  }

  & .is-active .sub-menu-head::after {
    transform: rotate(135deg); // 回す
  }

  & .sub-menu {
    background: $_base-submenu-color;
    display: none; // 最初は隠す
    padding: 10px 0;

    & a {
      color: #aeb4cb;
      padding: 8px 15px;

      &:hover {
        color: #fff;
      }
    }
  }
}
