.sidebar {
  @include mobile {
    padding: 0 10px;
    position: relative;
  }
  float: left;
  font-size: $_base-font-size-px - 2;
  padding-left: $_base-header-height;
  padding-top: $_base-header-height;
  width: $_base-sidebar-width;

  & h2 {
    border-bottom: dashed 3px $_base-border-color;
  }
}
