.sidebar {
  @include mobile {
    box-sizing: border-box;
    padding: 0 10px;
    position: relative;
    width: 100%;
  }
  float: left;
  font-size: $_base-font-size - 0.1em;
  padding-left: $_base-header-height;
  padding-top: $_base-header-height;
  width: $_base-sidebar-width;

  & h2 {
    border-bottom: dashed 3px $_base-border-color;
  }
}
