.sidebar {
  @include mobile {
    padding-top: 0;
    padding-left: 0;
    width: 70%;
    position: relative;
    left: 15%;
  }
  float: left;
  padding-left: $_base-header-height;
  padding-top: $_base-header-height;
  width: $_base-sidebar-width;

  & h2{
    border-bottom: dashed 3px #000;
  }
}
