.container {
  @include css3(margin-left, $_base-animation-speed, linear);
  background-color: $_base-background-color;
  margin-left: $_base-navigation-width;
  min-height: 100%;
  padding-bottom: 50px;
  position: relative;
  z-index: 900;

  .close & {
    margin-left: 0;
  }
  @include mini-display {
    margin-left: 0;
  }

  &::after {
    clear: both;
    content: '';
    display: block;
  }
}
